<h1><%= @deck.category %></h1>
<h2>Card <%= @card_num %> of <%= @deck.cards.count %></h2>
<h2 id="card" data-front='<%= @card.front %>' data-back='<%= @card.back %>' data-side='0'><%= @card.front %></h2>
<a href="/decks/<%=@deck.id%>/cards/<%= @card_num - 1 %>">Last card</a>
<a id='flip-card' href='#'>See other side</a>
<a href="/decks/<%=@deck.id%>/cards/<%= @card_num + 1 %>">Move on</a>
